<h3>Contacts:</h3>
<ul>
<h5><% @company.contacts.each do |contact| %></h5>
  <li><strong>Name:</strong> <%= contact.full_name %><br> <strong>Position:</strong> <%= contact.position %><br> <strong>Email:</strong> <%= mail_to contact.email %></li>
<% end %>
</ul>
