<h3>Contacts:</h3>

<div style="display: flex;margin-right: 75vw;">
  <div class="flex-direction: row" style="font-size:1.5em;">
    <h5><% @company.contacts.each do |contact| %></h5>
      <ul class='list-group'>
      
        <li class='list-group-item' style='height: 6.5vmax; overflow:auto;'><strong>Name:</strong> <%= contact.full_name %><br> 
          <strong>Position:</strong> <%= contact.position %><br> 
          <strong>Email:</strong><%= mail_to contact.email %>
        </li>
        
      <% end %>
      
      </ul>
  </div>
</div>