<h1><%= @category.title %></h1>

   <% if @category.jobs.empty? %>
        <h3><%= 'No Jobs listed for the category yet.' %></h3>
   <% else %>
   <ul>
      <% @category.jobs.each do |job| %>
        <li> <%= link_to job.title, company_job_path(job.company) %></li>
      <% end %>
   </ul>
   <% end %>
<%= link_to 'Edit Category', edit_category_path(@category) %>